<section class="ng-section">
  <h2>*ngIf</h2>
  <div *ngIf="courses.length > 0">
    <p class="code">
      div using '*ngIf="courses.length > 0"'' is truthy so there are courses.
    </p>
  </div>
  <div *ngIf="courses.length === 0">
    <p class="code">
      d div using '*ngIf="courses.length === 0'' is truthy. No courses exist.
    </p>
  </div>
</section>

<section class="ng-section">
  <h2>ng-template</h2>
  <div *ngIf="courses.length > 0; then coursesList; else noCourses"></div>
  <ng-template #coursesList>
    <p class="code">
      div *ngIf="courses.length > 0; then coursesList; else noCourses" condition
      is truthy so courses exist #coursesList.
    </p>
  </ng-template>
  <ng-template #noCourses>
    <p class="code">
      div *ngIf="courses.length > 0; then coursesList; else noCourses" condition
      is falsy so NO courses exist #noCourses.
    </p>
  </ng-template>
</section>

<section class="ng-section">
  <h2>hidden element property with conditional</h2>
  <div [hidden]="courses.length === 0">
    <p class="code">
      div [hidden]="courses.length === 0". If the condition met, then the
      element is NOT hidden.
    </p>
  </div>
  <div [hidden]="courses.length > 0">
    <p class="code">
      div [hidden]="courses.length === 0". If the condition is NOT met, then the
      element is hidden.
    </p>
  </div>
</section>
