h2 {
  margin: 0;
  padding: 0.1rem;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.ng-section {
  background-color: salmon;
  border-style: groove;
  margin: 0.2rem;
  padding: 0.2rem;
}

.code {
  margin: 0.3rem 1rem 0.3rem 1rem;
  padding: 0.2rem;
  background-color: lightsalmon;
  border-style: ridge;
  border-width: 0.1rem;
}
